backend: 
  name: github
  repo: jameskolean/nihonGo-Gatsby
#  name: test-repo

publish_mode: editorial_workflow
media_folder: "static/media/uploads" # Media files will be stored in the repo under static/images/uploads
public_folder: "/media/uploads" # The src attribute for uploaded media will begin with /images/uploads

collections:
  - name: course
    label: Course
    folder: src/markdown/course
    create: true
    fields: 
      - {name: title, label: Title}
      - {name: subtitle, label: Subtitle}
      - {name: type, label: Type, widget: "select", options: ["course", "lesson"]}
      - {name: date, label: "Update Date", widget: date}
      - {name: body, label: Description, widget: markdown}
 
  - name: lesson
    label: Lesson 
    folder: src/markdown/lesson
    create: true
    fields: 
      - {name: type, label: Type, widget: "select", options: ["course", "lesson"]}
      - {name: course,   
          label: Course,   
          widget: "relation", 
          collection: "course",
          searchFields: ["title"],
          valueField: "title",
          displayFields: ["title", "subtitle", "date"]
        }
      - {name: date, label: "Update Date", widget: date}
      - {name: title, label: Title}
      - {name: body, label: Lesson, widget: markdown}
